<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="cn" connectionString="Data Source=DESKTOP-IMAG9N6;Initial Catalog=Gestion_Biblioteca5D1;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Gestion_Bibloteca.Properties.Settings.Gestion_Biblioteca5D1ConnectionString"
   connectionString="Data Source=DESKTOP-IMAG9N6;Initial Catalog=Gestion_Biblioteca5D1;Integrated Security=True;Encrypt=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>